<div class="sidenav dropdown">

    <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">Your Services</button>
    <div class="dropdown-menu">
        <a href="#about">civileng</a>
        <a href="#services">Plumber</a>
        <a href="#clients">Electrician</a>
        <a href="#contact">Painter</a>
        <a href="#contact">Furniture</a>
        <a href="#contact">Tiles</a>
    </div>

    <button type="button" class="btn btn-dark dropdown-toggle mt-4" data-toggle="dropdown">Dealers</button>
    <div class="dropdown-menu">
        <a href="#about">civileng</a>
        <a href="#services">Plumber</a>
        <a href="#clients">Electrician</a>
        <a href="#contact">Painter</a>
        <a href="#contact">Furniture</a>
        <a href="#contact">Tiles</a>
    </div>

</div>