<section class="banner" id="banner" style="position: relative;width:100%;min-height: 80vh;display: flex;justify-content: center;align-items: center;
      ;background-size: cover;background-image: url(../../assets/con2.jpg);">
</section>


<section class="banner1" id="banner1">
    <div class="content">
        <h4>Services We Offer & Solutions</h4>
        <h2><span style="color:red ;"> Our</span> Main Services</h2>
    </div>
</section>


<section class="testimonials" id="testimonials" style="background: url(../assets/bg.webp) ;background-size: cover;">
    <div class="title white">
        <h1 class="titleText" style="margin-left: 10%;color: black;"></h1>
    </div>

    <div class="content">
        <div class="box">
            <div class="imgBx">
                <img src="../assets/civileng.jpg">
            </div>
            <div class="text">
                <p><b>
                        <h3>Civil Engineer</h3>
                    </b>
                <h3> </h3>
                Civil engineering is a professional engineering discipline that deals with the design, construction

                <!-- <a class="nav-link" class="btn">Book Now</a> -->

            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="../../assets/plunmber.jpg">
            </div>
            <div class="text">
                <p><b>
                        <h3>Plumber</h3>
                    </b>
                    Repair or replace broken drainage lines, clogged drains, faucets etc. Repair domestic appliances
                </p>
                <!-- <a class="nav-link"  class="btn">Book Now</a> -->

            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="../../assets/ELE (1).jpeg">
            </div>
            <div class="text">
                <p><b>
                        <h3>Electrician</h3>
                    </b>
                    The electrician is a electrical wiring of buildings, transmission lines, stationary machines. </p>
                <!-- <a class="nav-link" class="btn">Book Now</a> -->
            </div>
        </div>
    </div>
    <div class="content">
        <div class="box">
            <div class="imgBx">
                <img src="../../assets/painter.jpg">
            </div>
            <div class="text">
                <p><b>
                        <h3>Painter</h3>
                    </b>

                    A Painter is a professional who helps prepare surfaces, mix paints for different needs </p>
                <!-- <a class="nav-link" class="btn">Book Now</a>
   -->
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="../../assets/furniture1 (1).jpeg">
            </div>
            <div class="text">
                <p><b>
                        <h3>Furniture</h3>
                    </b>
                    We provide services for all kinds of furniture repair needs, both big and small. </p>
                <!-- <a class="nav-link" class="btn">Book Now</a> -->


            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="../../assets/tiles.jpg">
            </div>
            <div class="text">
                <p><b>
                        <h3>Tiles</h3>
                    </b>
                    Covering repairing loose floor tiles, fix a cracked or broken floor tile </p>

                <!-- <a class="nav-link" class="btn">Book Now</a> -->
            </div>
        </div>
    </div>

</section>
<br>